@import './variables.scss';
@import './tabs.scss';
@import './searchbox.scss';
@import './inputs.scss';
@import './forms.scss';


.admin-module{
    overflow: auto;
}

// header page
.well{
    background-color: #fff;


    h1{
        color: white;
        font-size: 16px !important;
        margin: -19px -19px 15px -19px;
        padding: 15px 15px 15px 30px;
        background-color: $primary-color;
        border-bottom: 1px solid rgb(227, 227, 227);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-color: $primary-color;
        text-transform: uppercase;

    }

    

    h1:before {
        font-family: FontAwesome;
        content: "\f054  ";
        font-size: 16px !important;
        padding: 0 0 0 5px;
        opacity: 0.3;
    }
}

// default margins
.d-margin-top{
    margin-top: 15px;
}
.d-margin-bottom{
    margin-bottom: 15px;
}

// pagination ngx
.page-item.active .page-link{
    border-color: $primary-color;
    background-color: $primary-color;
}

// btn on pages new element
.create-button{
    margin-top: 15px;
    margin-bottom: 15px;
}

// dropdown caret
.btn .caret {
    margin-left: 0;
    float:right;
    margin-top: 7px;
}

// font styles
.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

// accordeon
.panel-heading:hover{
    cursor: pointer!important;
}

accordion-group{
    margin-bottom: 3px;
}

// dropdown auto complete
.ui-autocomplete-panel{
    background-color: white;
}

// Modal
modal-container.modal {
    margin-top: 100px;
    border: none;
}
.modal-header {
    background-color: $bookmark-3;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.modal-header button.close {
    color: white;
}

.modal-header {
    h4:before{
        font-family: FontAwesome;
        font-size: 16px;
        padding: 0 0 0 5px;
        opacity: 0.3;
    }

}

//datatable test

table.dataTable {
    table-layout: auto;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #eee
}


table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #ddd;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

button.action-btn {
    font-size: 12px;
    margin-left: 5px;
}

span.table-info {
    padding: 6px 8px;
    display: inline-block;
}

button.action-btn:disabled {
    opacity: 0.2;
}

.dataTables_info {
    font-size: 11px;
    padding: 5px 0px;
    opacity: 0.5;
}

.dataTables_filter input{
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
}
.dataTables_filter ::placeholder{
    opacity: 0.3;
}

// Datatables pagination
#table_paginate ,
#table2_paginate {
    margin: 20px 0;
}

#table_paginate a,
#table2_paginate a,
#table_paginate .ellipsis ,
#table2_paginate .ellipsis{
    font-size: 12px;
    line-height: 1.5;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin: 0 !important;
    color: $primary-color !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd !important;
    border-right: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

#table_paginate a:hover,
#table_paginate a:active,
#table_paginate a:focus,
#table2_paginate a:hover,
#table2_paginate a:active,
#table2_paginate a:focus{
    z-index: 2 !important;
    color: $primary-color !important;
    background: #eee !important;
    border-color: #ddd !important;
}

#table_paginate .paginate_button.previous,
#table2_paginate .paginate_button.previous {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

#table_paginate .paginate_button.next,
#table2_paginate .paginate_button.next {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-right: 1px solid #ddd !important;
}

#table_paginate .paginate_button.next:hover,
#table_paginate .paginate_button.next:active,
#table_paginate .paginate_button.next:focus,
#table2_paginate .paginate_button.next:hover,
#table2_paginate .paginate_button.next:active,
#table2_paginate .paginate_button.next:focus{
    border-right: 1px solid #ddd !important;
}

#table_paginate .paginate_button.previous:hover,
#table_paginate .paginate_button.previous:active,
#table_paginate .paginate_button.previous:focus,
#table2_paginate .paginate_button.previous:hover,
#table2_paginate .paginate_button.previous:active,
#table2_paginate .paginate_button.previous:focus{
    border-left: 1px solid #ddd !important;
}


#table_paginate .paginate_button.current:hover,
#table_paginate .paginate_button.current:active,
#table_paginate .paginate_button.current:focus,
#table2_paginate .paginate_button.current:hover,
#table2_paginate .paginate_button.current:active,
#table2_paginate .paginate_button.current:focus
{
    color: #ffffff !important;
}

#table_paginate .paginate_button.current,
#table2_paginate .paginate_button.current{
    color: #ffffff !important;
    cursor: default !important;
    background: $primary-color !important;
    border-color: $primary-color !important;
}

#table_paginate .disabled,
#table_paginate .disabled:hover,
#table_paginate .disabled:active,
#table_paginate .disabled:focus,
#table2_paginate .disabled,
#table2_paginate .disabled:hover,
#table2_paginate .disabled:active,
#table2_paginate .disabled:focus
{
    color: #777 !important;
    cursor: not-allowed;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    border-right: none !important;
    border-radius: 0 !important;
}

// SubTables
table.sub-table .sub-add .ui-autocomplete {
  width: 50%;
   margin-right: 5px;
}

// Search Box
.search-form [type="text"] {
    border: 1px solid #ccc;
}

.search-submit{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 35px;
    padding: 5px 14px;
}

.ui-autocomplete {
    width: 100%;
}

.ui-autocomplete-input{
    display: block;
    width: 100% !important;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    box-shadow: none;
}

// .paginate_button{
//     color: #777;
//     cursor: not-allowed;
//     background-color: #fff;
//     border-color: #ddd;
// }

// forms
input[type='checkbox'] {
    margin-left: 5px;
    margin-top: 5px;
 }

 .form-group {
     textarea {
      resize:vertical;
    }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


