@import './variables.scss';
.tab {
    padding-top: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 300;
    color: #888;
    -webkit-font-smoothing: antialiased;
    border-bottom: 2px solid $primary-color;   
  }
  
  .tabs {
    display: table;
    position: relative;
    overflow: hidden;
    margin: -1px;
    width: 100%;
    padding: 0px;
  }
  .tabs li {
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin-left: 1px;

    border-radius: 3px 3px 0 0;
  }
  .tabs a {
    background-color: #eff0f2;
    border-bottom: 1px solid #fff;
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .active-tab a {
    color: #fff;
    background: $primary-color;
  }