$primary-color: #337ab7;
$secondary-color:#3e94da;
$primary-text-color:white;
$nav-color: #265e8e;
$hover-color:#23527c;
$highlight-color: #acd9ff;
$dark-grey: #666666;

$bookmark-1: #5cb85c;;
$bookmark-2: #f0ad4e;
$bookmark-3: #d9534f;
$bookmark-4: #c24ef0;
$bookmark-5: #367896;




// $primary-color: #C2185B;
// $secondary-color:#E91E63;
// $primary-text-color:white;
// $nav-color: #C2185B;
// $hover-color:#8bc34a;
// $highlight-color: #7cb342;
// $dark-grey: #666666;

