<nav [class.navbar-edit] = "allowEdit" class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#"><span class="fa fa-cloud"></span>DataVault</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="list-style: none" >
      <li class="nav-item" role="presentation">
        <a class="navbar-brand">Configuration</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="navbar-brand">Modeling</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="navbar-brand" [routerLink]="'/source'">System Sources</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a><span class="fa fa-user"></span>
              Login
        </a>
      </li>
    </ul>
  </div>
</nav>
