@import '../styles/variables.scss';

.navbar{
    background-color: $nav-color;
    border-radius: 0;
    border: 0;
    color: #ffffff;
    margin-bottom: 0;
}

.navbar-edit{
    background-color: #910202;
    border-radius: 0;
    border: 0;
    color: #ffffff;
    margin-bottom: 0;
}

.navbar .navbar-brand{
    color: #ffffff;
    font-size: 14px;
}

.navbar .navbar-brand .glyphicon{
    font-size: 18px;
}


.dropdown-menu{
    width: 100%
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #cccccc;
}

.navbar-brand{
    color: #ffffff;
}

.navbar .badge{
    background-color: #ed1c24;
}

.nav {
    padding-right: 10px;
}