<div style="clear:both"></div>
<footer class="footer">
    <div class="panel panel-default">
        <div class="panel-body card-block">
            <div class="text-center">
                <span><b>© DataVault</b>-Version<i>0.6</i></span>
            </div>
        </div>
    </div>
</footer>
