<div class="well admin-module">
  <h1 [class.h1-edit] = "allowEdit">Table</h1> 
  <alert type="md-color" *ngIf="show">
    <div class="container" >
      <form class="left">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" required>
        </div> 
        <div class="form-group">
          <label for="alterEgo">Description</label>
          <input type="text" id="description">
        </div>
      </form>
      <form class="center">
        <div class="form-group">
          <label for="name">Type</label>
          <input type="text" id="type" required>
        </div>   
        <div class="form-group">
          <label for="alterEgo">Format</label>
          <input type="text" id="format">
        </div>
      </form>
      <form class="right">
        <div class="form-group">
          <label for="name">Hard rule</label>
          <input type="text" id="hard" required>
        </div>          
        <div class="form-group">
          <label for="alterEgo">Lenght</label>
          <input type="text" id="lenght">
        </div>
      </form>
    </div> 
  </alert>
  <div class="scrolling-wrapper" [@fadeInOut]= "!loading">
    <ng-container *ngFor="let el of columns; let i = index">  
      <div class="list-group" [class.top-padding]="show">
        <div class="card" [class.disable-whole-div]="show && current != i">
          <button [disabled]="toggle2(i)" [popover]="popTemplate"  
            (click)="toggle(i)" class="list-group-item">
            <strong> {{el.physicalName}} <i class="fa fa-key" aria-hidden="true"></i></strong>
            <br>
            <small><strong>Type:</strong> {{el.dataType}}</small>
            <br>
            <div class="progress" style="margin-top: 5px; margin-bottom: 10px;">
              <div class="progress-bar progress-bar-success" role="progressbar" 
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;/* margin-top: 5px; *//* margin-bottom: 10px; */">
                Null ? : 0%
              </div>
            </div>
            <div class="progress" style="margin-top: 5px; margin-bottom: 10px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                Uniqueness <i class="fa fa-clone" aria-hidden="true"></i> : 100% 
              </div>
            </div>  
            <div class="progress" style="margin-top: 5px; margin-bottom: 10px;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color: gray;opacity: 0.2;">
                HR <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
              </div>
            </div>
          </button>   
          <a class="list-group-item">15489658452</a>
          <a class="list-group-item">79853254215</a>
          <a class="list-group-item">854258652312</a>
          <a class="list-group-item">85421568954</a> 
        </div>
      </div>
    </ng-container>
  </div> 
  <div class="col-md-12" style="margin-bottom: 15px; border: 1px solid #e3e3e3; border-radius: 4px; padding-top: 10px;">
    <div class="search-form">
      <input type="text">
      <button class="search-submit btn btn-primary">
        <i class="glyphicon glyphicon-search"></i>
          Search
      </button>
      <span class="filter-checkbox">All Users<input type="checkbox"></span>
      <span class="filter-checkbox">Administrators<input type="checkbox"></span>
      <span class="filter-checkbox">Disabled Users<input type="checkbox"></span>
      <span class="filter-checkbox">Blocked Users <input type="checkbox"></span>
    </div>
    <div class= "information">
      <p>nom:</p>
      <p>type:</p>
      <p>% de null</p>
      <p>% de uniques</p>
  </div>
</div>
<div class='create-container'>
  <button *ngIf="allowEdit" class="action-btn btn btn-danger" (click)="unAssignTable()">
    <i class="fa fa-wrench"></i> UnAssign Table 
  </button>
  <button *ngIf="allowEdit" class="action-btn btn btn-success" (click)="staticModal2.show()">
    <i class="fa fa-plus-circle"></i> Create column
  </button>   
</div>


<!-- Modal 2  -->
<div class="modal fade" id="myModal2" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Create Column</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal2.hide(); resetForm2()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createColumnForm"(ngSubmit)="onCreateColumn()" id="createForm">
          
          <label for="name">PhysicalName</label>
          <input class="form-control" type="text" formControlName="PhysicalName">
          <div class="invalid-feedback" *ngIf="createColumnForm.get('PhysicalName').hasError('required') && createColumnForm.get('PhysicalName').touched">Please choose a name</div>
        
          <label for="code">DataType</label>
          <input class="form-control" type="text" formControlName="DataType">
          <div class="invalid-feedback" *ngIf="createColumnForm.get('DataType').hasError('required') && createColumnForm.get('DataType').touched">Please choose a Type</div>

          <label for="desc">Technical description</label>
          <input class="form-control" type="text" formControlName="TechnicalDescription">
          <div class="invalid-feedback" *ngIf="createColumnForm.get('TechnicalDescription').hasError('required') && createColumnForm.get('TechnicalDescription').touched">Please choose a description</div>

          <label for="desc">Business description</label>
          <input class="form-control" type="text" formControlName="BusinessDescription">
          <div class="invalid-feedback" *ngIf="createColumnForm.get('BusinessDescription').hasError('required') && createColumnForm.get('BusinessDescription').touched">Please choose a description</div>

          <label for="desc">Business Name</label>
          <input class="form-control" type="text" formControlName="BusinessName">
          <div class="invalid-feedback" *ngIf="createColumnForm.get('BusinessName').hasError('required') && createColumnForm.get('BusinessName').touched">Please choose a name</div>

          <label for="desc">Required</label>
          <input class="form-control" type="text" formControlName="Required">
          <div class="invalid-feedback" *ngIf="createColumnForm.get('Required').hasError('required') && createColumnForm.get('Required').touched">Please choose Required</div>

          <label for="desc">Computed</label>
          <input class="form-control" type="text" formControlName="Computed">
          <div class="invalid-feedback" *ngIf="createColumnForm.get('Computed').hasError('required') && createColumnForm.get('Computed').touched">Please choose an admin</div> 
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!createColumnForm.valid" class="action-btn btn btn-danger" form="createForm" 
            (click)="staticModal2.hide()">Save
        </button>
      </div>
    </div>
  </div>
</div>
