<td class="sub-td" colspan="8">
  <table class="sub-table">
    <tbody>
      <tr class=" sub-tr">
        <td rowspan="2"><span class="table-info"><b>Business description :</b>
          <br>{{source.businessDescription}}</span>
        </td>
        <td rowspan="2"><span class="table-info"><b>Quality :</b>
          <br>{{source.qualityType}}</span>
        </td>
        <td rowspan="2"><span class="table-info"><b>DataSteward :</b>
          <br>{{source.dataSteward}}</span>
        </td>
        <td rowspan="2"><span class="table-info"><b>systemAdministrator:</b>
          <br>{{source.systemAdministrator}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</td>