<div class="body-container">
  <app-header></app-header>
  <div id="main-container">
    <div class="container-fluid" style="height: 100%">
      <div class="row" style="height: 100%">              
        <div class="table-container">
          <app-breadcrumb></app-breadcrumb>
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
