html, body{
    height: 100%;
    overflow: hidden;
}

.body-container{
    height: 100%;
    width: 100%;
    overflow: hidden;

}


.left-menu{
    background-color: #dfdfdf;
    height: 100%;
    overflow:auto;    
}

#main-container{
    padding: 0;
    margin: 0;
    margin-top: 50px;
    height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
    overflow: hidden;
    border: 0;
    
}

	
.main-content{
    padding-top: 15px;
    height: 100%;
    overflow:auto;
    width: -webkit-calc(100% - 320px) !important;
    width: -moz-calc(100% - 320px) !important;
    width: calc(100% - 320px) !important;
}

.main-content h1{
    font-size: 30px;
}

.node-header h1 .label {
    font-size: 12px;
    margin-left: 10px;
    top: -5px;
    position: relative;
    font-weight: normal;
    padding-top: 4px;
    padding-bottom: 4px;
}

.node-header .update{
    padding-top: 30px;
}

.node-sub-menu{
    background-color: #e5e5e5;
    border-radius: 4px;
}

.table-container{
    padding: 20px;
}