.dropdown-menu{
    .active{
        a{
            background-color: #c5e1f5 !important;
            color: #265e8e;
        }
    }   
}

.breadcrumb {
    padding: 5px 15px;
    
    ul {
        text-align: left;
        width: 50%;
        display: inline-block;
        margin: 0;      
    }

    li{
        cursor: pointer;
    }

    li.active{
        cursor: default;
    }  
}

.switch {
    top: 6px;
    position: relative;
}

.options {
    text-align: right;
    width: 50%;
    display: inline-block;
    
}

div .toggle, .dropdown {
    display: inline-block;
}

.toggle >*, .dropdown >* {
    display: inline-block;
}

div .toggle {
    padding-right: 30px;
}