<div class="breadcrumb">
  <ul class="breadcrumb" [ngSwitch]="page">
    <ng-template [ngSwitchCase]="'Package'">
      <li><a routerLink="/source">Source</a></li>
      <li class="active">Package</li>
    </ng-template>
    <ng-template [ngSwitchCase]="'Staging'">
      <li><a routerLink="/source">Source</a></li>
      <li><a (click) = "navigateBack()">Package</a></li>
      <li class="active">Table</li>
    </ng-template>
    <ng-template [ngSwitchCase]="'Source'">
      <li class="active">Source</li>
    </ng-template>
  </ul>
  <div class="options">   
    <div class="toggle">
      <div>Edit Mode : &nbsp;</div>   
      <ui-switch [(ngModel)]="toggleValue" class="switch" color="red" 
        checked size="small" (change)="switchToggle()">
      </ui-switch>
    </div>
    <div class="dropdown">
      <div dropdown class="dropdown instances">
        <div>Version : &nbsp;</div>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdownToggle>
        <span class="inst-name"> Latest &nbsp;</span>
        <span class="caret"></span>
        </button>
      </div>
    </div>      
  </div>
</div>