@import '../styles/variables.scss';

.h1-edit {
    background-color: $bookmark-3;
    border-color: $bookmark-3;
}

.create-container {
    margin-top:15px;
    float:left;
    width: 100%;
  }
  
  .create-container button {
    float: right;
    margin-right: 10px;
  }

  .text-right button {
    font-size: 12px;
  }

  .invalid-feedback {
    color: red
  }
  
  .qualitySelect {
    float: left;
    clear: left;
    margin-bottom: 10px;
  }
  
  .qualityLabel {
    float: left;
  }

  .modal-footer {
    margin-top: 40px;
  }