<div class="well admin-module">
<h1 [class.h1-edit] = "allowEdit">Data-packages</h1>
  <div class='col-md-12' [@fadeInOut]= "!loading">
    <table class="row-border hover table table-striped no-footer dataTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Desc</th>
          <th>Quality</th>
          <th>Delivery Schedule</th>
          <th width="50px" class="text-center"></th>
          <th width="55px" class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let el of pack; let i = index">
          <!-- Normal ROW -->
          <tr>
            <td><span class="table-info">{{el.name}}</span></td>
            <td><span class="table-info">{{el.businessDescription}}</span></td>
            <td><span class="table-info">{{el.expectedQuality}}</span></td>
            <td><span class="table-info">{{el.deliverySchedule}}</span></td>
            <td><button class="action-btn btn btn-default" 
                (click) = "current = i"><i class="fa fa-eye"></i>
                 more</button>
            </td>
            <td class="text-center"></td>
            <td class="text-right">
              <button *ngIf="allowEdit && !el.hasADataPackage" class="action-btn btn btn-warning" 
                (click)="staticModal3.show(); datapackForStaging=el"><i
                class="fa fa-table"></i> Available staging table 
              </button>   
              <button *ngIf="allowEdit" class="action-btn btn btn-primary" 
                (click)="staticModal.show(); updateEl(el)"><i
                class="fa fa-pencil-square-o"></i> edit 
              </button>
              <button [disabled]="!el.hasADataPackage" class="action-btn btn btn-primary"(click)="onSelect(el.id)"><i
                  class="fa  fa-database"></i> Staging table
              </button>
              <button [disabled]="el.hasADataPackage" class="action-btn btn btn-danger" (click)="onDeletePackage(el.id, i)"><i
                  class="fa fa-trash-o"></i> delete
              </button>
            </td>
          </tr>
          <!-- Sub  ROW nn  UserGroups-->
          <tr app-info-packages *ngIf='current == i' style="width: 100%" [package] = "el">
          </tr>
        </ng-container>       
      </tbody>
    </table>
    <div class='create-container'>
      <button *ngIf="allowEdit" class="action-btn btn btn-success" (click)="staticModal2.show()">
        <i class="fa fa-plus-circle"></i> Create 
      </button>  
    </div>  
  </div>
</div>

<!-- Modal  -->
<div class="modal fade" id="myModal" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Edit Data Package</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onUpdatePackage()" id="editForm">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" 
            [ngModel]="packageToUpdate?.name" 
            (ngModelChange)="packageToUpdate.name = $event">
          <label for="desc">Description</label>
          <input class="form-control" type="text" name="desc" 
            [ngModel]="packageToUpdate?.businessDescription" 
            (ngModelChange)="packageToUpdate.businessDescription = $event">
          <label for="qlt">Quality</label>
          <input class="form-control" type="text" name="qlt" 
            [ngModel]="packageToUpdate?.expectedQuality" 
            (ngModelChange)="packageToUpdate.expectedQuality = $event">
          <label for="sch">Schedule</label>
          <input class="form-control" type="text" name="sch" 
            [ngModel]="packageToUpdate?.deliverySchedule" 
            (ngModelChange)="packageToUpdate.deliverySchedule = $event">
        </form>
      </div>
      <div class="modal-footer">
          <button class="action-btn btn btn-danger" form="editForm" 
            (click)="staticModal.hide()">Save
          </button>
        </div>
    </div>
  </div>
</div>

<!-- Modal 2  -->
<div class="modal fade" id="myModal2" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Create Data Package</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal2.hide(); resetForm2()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createPackageForm"(ngSubmit)="onCreatePackage()" id="createForm">
          <label for="name">Name</label>
          <input class="form-control" type="text" formControlName="name">
          <div class="invalid-feedback" *ngIf="createPackageForm.get('name').hasError('required') && createPackageForm.get('name').touched">Please choose a name</div>

          <label for="IsFullLoad">IsFullLoad</label>
          <input class="form-control" type="text" formControlName="isFullLoad">
          <div class="invalid-feedback" *ngIf="createPackageForm.get('isFullLoad').hasError('required') && createPackageForm.get('isFullLoad').touched">Please fill the form</div>

          <label for="desc">Delivery Schedule</label>
          <input class="form-control" type="text" formControlName="deliverySchedule">
          <div class="invalid-feedback" *ngIf="createPackageForm.get('deliverySchedule').hasError('required') && createPackageForm.get('deliverySchedule').touched">Please fill the form </div>

          <label for="desc">Technical description</label>
          <input class="form-control" type="text" formControlName="technicalDescription">
          <div class="invalid-feedback" *ngIf="createPackageForm.get('technicalDescription').hasError('required') && createPackageForm.get('technicalDescription').touched">Please choose a description </div>

          <label for="desc">Business description</label>
          <input class="form-control" type="text" formControlName="businessDescription">
          <div class="invalid-feedback" *ngIf="createPackageForm.get('businessDescription').hasError('required') && createPackageForm.get('businessDescription').touched">Please choose a description </div>

          <label for="desc">Refresh Type</label>
          <input class="form-control" type="text" formControlName="refreshType">
          <div class="invalid-feedback" *ngIf="createPackageForm.get('refreshType').hasError('required') && createPackageForm.get('refreshType').touched">Please choose refresh type </div>

          <label for="desc">Format Info</label>
          <input class="form-control" type="text" formControlName="formatInfo">
          <div class="invalid-feedback" *ngIf="createPackageForm.get('formatInfo').hasError('required') && createPackageForm.get('formatInfo').touched">Please choose a format </div>

          <label class="qualityLabel" for="desc">Expected Quality</label>
         <!--  <input class="form-control" type="text" formControlName="expectedQuality"> -->

          <select class="qualitySelect" formControlName="expectedQuality">
            <option *ngFor="let c of quality" [value]="c" >{{ c }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="createPackageForm.get('expectedQuality').hasError('required') && createPackageForm.get('expectedQuality').touched">Please choose quality </div>

        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!createPackageForm.valid" class="action-btn btn btn-danger" form="createForm" 
            (click)="staticModal2.hide()">Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3  -->
<div class="modal fade" id="myModal3" bsModal #staticModal3="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Add Staging table</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal3.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-warning dropdown-toggle"
                  aria-controls="dropdown-basic">
              Staging table list <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic" >
            <li role="menuitem" *ngFor="let el of tableList"><a class="dropdown-item" (click)="onSelectTable(el.name)">{{el.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>