/* You can add global styles to this file, and also import other style files 
    //"node_modules/bootstrap/dist/css/bootstrap.min.css",
    //"node_modules/datatables.net-dt/css/jquery.datatables.css",
*/

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/datatables.net-dt/css/jquery.dataTables.css';
@import '../node_modules/ngx-toastr/toastr.css';
//@import '../node_modules/primeng/resources/nova-light/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '..//node_modules/primeicons/primeicons.css';
@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
// Admin component css
@import './app/styles/custom.scss';

html, body{
    height: 100%;
    overflow: hidden;
}
