@import '../styles/variables.scss';

.search-form{
    display: inline;
  }
  .filter-checkbox{
    margin:0px 15px;
  }
  
  .sub-td{
    padding: 5px 0 !important;
    background-color: #eeeeee;
  }

  table.sub-table {
    margin: 0 !important;
    padding:0 !important;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9 !important;
  }

  table.sub-table tr{
    background-color: #f9f9f9 !important;
  }

  table.sub-table tr td{
    background-color: #f9f9f9 !important;
  }

  table.sub-table .sub-element{
    padding: 15px !important;
    background-color: transparent;
    border: none;
    border-left: 2px solid #ccc;
    margin-left: 20px;
    border-radius: 0 !important;
    opacity: 1;
    height: 31px !important;
  }
  
  table.sub-table .sub-element .fa{
    margin-left: -22px;
    margin-right: 5px;
    color: #ccc;
  }

  table.sub-table .sub-add{
    padding: 15px !important;
    background-color: transparent;
    border: none;
    border-left: 2px solid #efefef;
    margin-left: 20px;
    border-radius: 0 !important;
    opacity: 1;
    height: 31px !important;
  }
  
  table.sub-table .sub-add .fa{
    margin-left: -22px;
    margin-right: 5px;
    color: #efefef;
  }
  
  .loading-group
  {
    margin-left: 12px;
    color: #ccc;
  }
  
  .h1-edit {
    background-color: $bookmark-3;
    border-color: $bookmark-3;
}

.create-container {
  margin-top:15px;
  float:left;
  width: 100%;
}

.create-container button {
  float: right;
  margin-right: 10px;
}

.invalid-feedback {
  color: red;
}

.qualitySelect {
  float: left;
  clear: left;
  margin-bottom: 10px;
}

.qualityLabel {
  float: left;
}

.modal-footer {
  margin-top: 40px;
}