<div class="well admin-module">
  <h1 [class.h1-edit] = "allowEdit">Systèmes sources</h1>
  <div class='col-md-12' [@fadeInOut]="!loading">
    <table class="row-border hover table table-striped no-footer dataTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Desc</th>
          <th>Version</th>
          <th width="50px" class="text-center"></th>
          <th width="65px" class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let el of systems; let i = index">
          <!-- Normal ROoW -->
          <tr>
            <td><span class="table-info">{{el.name}}</span></td>
            <td><span class="table-info">{{el.code}}</span></td>
            <td><span class="table-info">{{el.technicalDescription}}</span></td>
            <td><span class="table-info">{{el.version}}</span></td>
            <td>
              <button class="action-btn btn btn-default" (click) = "current = i">
                <i class="fa fa-eye"></i> more
              </button>
            </td>
            <td class="text-center"></td>
            <td class="text-right">
              <button *ngIf="allowEdit" class="action-btn btn btn-primary" 
                  (click)="staticModal.show(); updateEl(el)"><i
                  class="fa fa-pencil-square-o"></i> edit 
              </button>
              <button class="action-btn btn btn-primary"(click)="onSelect(el)"><i
                  class="fa  fa-database"></i> data package 
                  <span class="badge">{{el.numberOfDataPackages}}</span>
              </button>
              <button [disabled]="el.numberOfDataPackages != 0" class="action-btn btn btn-danger" 
                  (click)="onDeleteSystem(el.id, i)"><i
                  class="fa fa-trash-o"></i> delete
              </button>
            </td>
          </tr>
          <!-- Sub  ROW nn  UserGroups-->
          <tr app-desc-sources *ngIf='current == i' style="width: 100%"  [source] = "el">
          </tr>
        </ng-container>       
      </tbody>
    </table>
    <div class='create-container'>
      <button *ngIf="allowEdit" class="action-btn btn btn-success" (click)="staticModal2.show()">
        <i class="fa fa-plus-circle"></i> Create 
      </button>  
    </div> 
  </div>   
</div>


<!-- Modal  -->
<div class="modal fade" id="myModal" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Edit Source</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onUpdateSystem()" id="editForm">
          <label for="name">Name</label>
          <input class="form-control" type="text" name="name" 
              [ngModel]="systemToUpdate?.name" 
              (ngModelChange)="systemToUpdate.name = $event">
          <label for="code">Code</label>
          <input class="form-control" type="text" name="code" 
              [ngModel]="systemToUpdate?.code" 
              (ngModelChange)="systemToUpdate.code = $event">
          <label for="desc">Description</label>
          <input class="form-control" type="text" name="desc" 
              [ngModel]="systemToUpdate?.technicalDescription" 
              (ngModelChange)="systemToUpdate.technicalDescription = $event">
          <label for="desc">Version</label>
          <input class="form-control" type="text" name="version" 
              [ngModel]="systemToUpdate?.version" 
              (ngModelChange)="systemToUpdate.version = $event">
        </form>
      </div>
      <div class="modal-footer">
        <button class="action-btn btn btn-danger" form="editForm" 
            (click)="staticModal.hide()">Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2  -->
<div class="modal fade" id="myModal2" bsModal #staticModal2="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Create Source</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal2.hide(); resetForm2()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createSystemForm"(ngSubmit)="onCreateSystem()" id="createForm">
          
          <label for="name">Name</label>
          <input class="form-control" type="text" formControlName="name">
          <div class="invalid-feedback" *ngIf="createSystemForm.get('name').hasError('required') && createSystemForm.get('name').touched">Please choose a name</div>
        
          <label for="code">Code</label>
          <input class="form-control" type="text" formControlName="code">
          <div class="invalid-feedback" *ngIf="createSystemForm.get('code').hasError('required') && createSystemForm.get('code').touched">Please choose a code</div>

          <label for="desc">Technical description</label>
          <input class="form-control" type="text" formControlName="technicalDescription">
          <div class="invalid-feedback" *ngIf="createSystemForm.get('technicalDescription').hasError('required') && createSystemForm.get('technicalDescription').touched">Please choose a description</div>

          <label for="desc">Business description</label>
          <input class="form-control" type="text" formControlName="businessDescription">
          <div class="invalid-feedback" *ngIf="createSystemForm.get('businessDescription').hasError('required') && createSystemForm.get('businessDescription').touched">Please choose a description</div>

          <label for="desc">Version</label>
          <input class="form-control" type="text" formControlName="version">
          <div class="invalid-feedback" *ngIf="createSystemForm.get('version').hasError('required') && createSystemForm.get('version').touched">Please choose a version</div>

          <label for="desc">Data steward</label>
          <input class="form-control" type="text" formControlName="dataSteward">
          <div class="invalid-feedback" *ngIf="createSystemForm.get('dataSteward').hasError('required') && createSystemForm.get('dataSteward').touched">Please choose a dataSteward</div>

          <label for="desc">System administrator</label>
          <input class="form-control" type="text" formControlName="systemAdministrator">
          <div class="invalid-feedback" *ngIf="createSystemForm.get('systemAdministrator').hasError('required') && createSystemForm.get('systemAdministrator').touched">Please choose an admin</div>
          
          <label class="qualityLabel" for="desc">Quality type</label>
         <!--  <input class="form-control" type="text" formControlName="qualityType"> -->
          <select class="qualitySelect" formControlName="qualityType"  >
            <option *ngFor="let c of quality" [value]="c" >{{ c }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="createSystemForm.get('qualityType').hasError('required') && createSystemForm.get('qualityType').touched">Please choose a quality</div>     
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="!createSystemForm.valid" class="action-btn btn btn-danger" form="createForm" 
            (click)="staticModal2.hide()">Save
        </button>
      </div>
    </div>
  </div>
</div>