<td class="sub-td" colspan="8">
  <table class="sub-table">
    <tbody>
      <tr class=" sub-tr">
        <td rowspan="2"><span class="table-info"><b>Business description :</b>
          <br>{{package.businessDescription}}</span>
        </td>
        <td rowspan="2"><span class="table-info"><b>Full load :</b>
          <br>{{package.isFullLoad}}</span>
        </td>
        <td rowspan="2"><span class="table-info"><b>Type :</b>
          <br>{{package.refreshType}}</span>
        </td>
        <td rowspan="2"><span class="table-info"><b>Format:</b>
          <br>{{package.formatInfo}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</td>